<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <title>Adicionando Ordem</title>
</head>

<body class="bg-gray-100 text-5xl fixed top-0 inset-x-0 text-center bg-slate-300/50">


    <!-- Header -->
    <div class="header relative w-full bg-white p-5 shadow-md border-b border-gray-500 flex items-center gap-10">
        <a class="absolute left-5  text-2xl font-bold text-purple-700 hover:text-purple-500 transition duration-300 cursor-pointer"
            th:href="@{/orders}">Voltar</a>
        <h2 class="font-bold text-2xl mx-auto">Adicionando Ordem de Produção</h2>
    </div>


    <!-- Main Content -->
    <div class="main-content flex flex-col items-center justify-start mt-10 w-full gap-5">
        <!-- Order Form -->
        <div
            class="w-[90vw] h-full flex flex-col justify-center items-center gap-10 p-10 m-5 border-2 border-gray-100 shadow-sm">
            <div
                class="order-info flex flex-row items-center justify-between gap-10 w-[90vw] shadow-lg p-10 rounded-sm">
                <h3 class="text-2xl font-bold" th:text="${order.orderNumber}"></h3>
                <h3 class="text-2xl font-bold" th:text="${'Produto: ' + order.code}"></h3>
                <h3 class="text-2xl font-bold" th:text="${'Quantidade: ' + order.quantity + ' PÇS'}"></h3>
            </div>

            <div class="materials-form w-[85vw] flex items-center justify-center border-2 border-gray-100 shadow-sm">
                <form th:action="@{/orders}" method="post" th:object="${order}"
                    class="flex flex-col justify-center items-center gap-4 w-[85vw]">
                    <input type="hidden" th:field="*{orderId}">
                    <input type="hidden" th:field="*{orderNumber}">
                    <input type="hidden" th:field="*{code}">
                    <input type="hidden" th:field="*{description}">
                    <input type="hidden" th:field="*{quantity}">

                    <div class="flex flex-row items-center justify-start mb-2 p-5 font-semibold text-gray-700 w-[85vw]">
                        <label class="text-left w-2/6">Cód.</label>
                        <label class="text-left w-3/6">Descrição</label>
                        <label class="text-left w-1/6">Qtd.</label>
                    </div>

                    <div th:each="material, iterStat : *{materials}"
                        class="flex flex-row gap-2 mb-2 overflow-y-auto shadow-lg border-b border-gray-500 rounded-md p-5 m-5 w-[85vw]">
                        <input
                            class="input w-2/6 outline-none outline:focus:ring-2 focus:ring-purple-400 shadow-sm text-3xl"
                            type="text" th:field="*{materials[__${iterStat.index}__].code}" readonly />
                        <input
                            class="input w-3/6  outline-none outline:focus:ring-2 focus:ring-purple-400 shadow-sm text-sm"
                            type="text" th:field="*{materials[__${iterStat.index}__].description}" readonly />
                        <input
                            class="input w-1/6 outline-purple-400 outline:focus:ring-2 focus:ring-purple-700 shadow-sm text-md text-center"
                            type="number" th:field="*{materials[__${iterStat.index}__].quantity}" />
                    </div>

                    <button type="submit"
                        class="bg-purple-500 text-white w-80 h-20 font-2xl flex items-center justify-center rounded-lg hover:bg-purple-600 transition duration-300">Cadastrar</button>
                </form>
            </div>

        </div>
    </div>
</body>

</html>