<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <title>Materiais</title>
</head>

<body class="bg-gray-100 h-full text-center">

  <!-- Navbar -->
  <div th:insert="~{fragments/header :: header}"></div>

  <div class="main-content flex flex-col items-center justify-start min-h-screen pt-20 px-4 sm:px-10">
    <div class="flex flex-col items-center justify-start mt-5 w-full gap-5">

      <ul th:if="${materials != null}" class="w-full flex flex-col items-center gap-5">
        <li th:each="material : ${materials}" th:id="'material-' + ${material.id}"
            class="w-full sm:w-11/12 bg-white p-4 sm:p-5 rounded shadow-md hover:shadow-lg transition-shadow duration-300 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-3 sm:gap-10">

          <span class="font-bold text-xl sm:text-3xl break-words" th:text="${material.code}"></span>
          <span class="font-bold text-lg sm:text-3xl break-words" th:text="${material.description}"></span>

        </li>
      </ul>

      <p th:if="${message != null}" class="text-base sm:text-xl text-gray-700 mt-4" th:text="${message}"></p>
    </div>
  </div>
</body>

</html>
