<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <title>Produtos</title>
</head>

<body class="bg-gray-100 h-20 text-5xl fixed top-0 inset-x-0 text-center">
  <!-- Navbar -->
  <div th:insert="~{fragments/header :: header}"></div>


  <div class="main-content flex flex-col items-center justify-start min-h-screen">
    <div class="flex flex-col items-center justify-start mt-10 w-full gap-5">

      <ul th:if="${products != null}" class="w-screen flex flex-col items-center gap-5 px-10">
        <li th:each="product : ${products}" th:id="'material-' + ${product.id}"
          class="w-full bg-white p-5 rounded shadow-md hover:shadow-lg transition-shadow duration-300 flex justify-between items-center">
          <div class="flex flex-row items-center justify-between gap-10 w-full">
            <span class="font-bold text-3xl" th:text="${product.code}"></span>
            <span class="font-bold text-3xl" th:text="${product.description}"></span>
            </span>
          </div>
        </li>
      </ul>

      <p th:if="${message != null}" class="text-xl" th:text="${message}"></p>
    </div>
  </div>
</body>

</html>